body {
    font-family:Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tfoot tr {
  background-color: #cccccc;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form {
  max-width: 1000px;
  margin: 0 auto;
}

.confirmation {
  width: 100%;
  padding: 12px;
  background-color: #baf4ad;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.tbutton {
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 8px 14px;
  
}

.buttoncell a {
  color: white;
  text-decoration: none;
}

.buttoncell a:hover {
  color: black;
  text-decoration: underline;
}

.buttoncell {
  padding: 2px;
  padding-right: 8px;
  box-sizing: border-box;
  resize: vertical;
  width: 10%;
}

.edit {
  background-color: #4CAF50;
}

.edit:hover {
  background-color: #e4ffde;
}

.delete {
  background-color: #d80000;
}

.delete:hover {
  background-color: #ffb3b3;
}

